@import "../../styles/variables";

.dropdown__button {
  border: none;
  border-radius: 0.6em;
  color: $sub-alt-color;
  padding: 0.4em;
  cursor: pointer;
  transition: $animation-duration;
}

.dropdown__button:hover {
  background: $main-color;
}

.dropdown__button--main {
  background: $main-color;
}

.dropdown__button--sub {
  background: $sub-color;
}

.dropdown__menu {
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 0.4em;
  background: $sub-color;
  margin-top: 0.4em;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dropdown__menu--hide {
  display: none;
}

.dropdown__menu--show {
  display: block;
  animation: fadeIn $animation-duration;
}

.dropdown__menu__item {
  cursor: pointer;
  color: $sub-alt-color;
  padding: 0.4em;
  transition: $animation-duration;
}

.dropdown__menu__item:hover {
  color: $text-color;
}
