@import "../../../styles/variables";

.tagbar {
  background: $sub-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  border: none;
  border-radius: 0.4em;
  padding: 0.4em;
}

.tagbar__tag {
  padding: 0.2em;
  transition: $animation-duration;
  cursor: pointer;
}

.tagbar__tag--selected {
  padding: 0.3em;
  border-radius: 0.3em;
  background: $main-color;
  font-weight: bold;
}

.tagbar__tag:hover {
  .tagbar__tag__text {
    color: $text-color;
  }
}

.tagbar__tag__text {
  color: $sub-alt-color;
  transition: $animation-duration;
  font-size: 0.9em;
}
