@import "../../styles/variables";

.tagbar {
  max-width: 100%;
  background: $sub-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4em;
  border-radius: 0.4em;
  padding: 0.4em;
}

.tagbar__tag {
  padding: 0.2em;
  font-size: 0.9em;
  color: $sub-alt-color;
  transition: $animation-duration;
  cursor: pointer;
}

.tagbar__tag:hover {
  color: $main-color;
}

.tagbar__tag--selected {
  color: $main-color;
}

.tagbar__button-separator {
  color: $sub-alt-color;
}
