@import "../../../styles/variables";

.circle-button {
  height: 1.2em;
  width: 1.2em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $animation-duration;
}

.circle-button--normal {
  background: $sub-color;
  color: $sub-alt-color;
}

.circle-button--invert {
  background: $sub-alt-color;
  color: $sub-color;
}

.circle-button:hover {
  background: $main-color;
}

.circle-button__text {
}
