@import "../../styles/variables";

.textarea {
  width: 100%;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: start;
  justify-items: start;
}

.textarea__label {
  color: $text-color;
  grid-column: 1;
}

.textarea__input {
  height: 30vh;
  min-height: 360px;
  background: none;
  border: $sub-color solid 2px;
  border-radius: 0.4em;
  padding: 0 0.2em;
  color: $text-color;
  resize: none;
  grid-column: 2;
  justify-self: stretch;
}

.textarea__input:focus {
  outline: $main-color solid 1px;
}
