@import "../../styles/variables";

.input-date {
  width: 100%;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: start;
  justify-items: start;
}

.input-date__label {
  color: $text-color;
  grid-column: 1;
}

.input-date__input {
  background: none;
  border: none;
  color: $text-color;
  grid-column: 2;
}
