@import "../../../styles/variables";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

.modal__content {
  width: 30%;
  min-width: 540px;
  background: $sub-alt-color;
  border-radius: 0.6em;
  padding: 1em;
}

.modal__content__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.6em;
}

.modal__content__title {
  color: $sub-color;
  font-size: 0.9em;
}

.modal__content__close {
  color: $sub-color;
  font-size: 0.9em;
  cursor: pointer;
  transition: $animation-duration;
}

.modal__content__close:hover {
  color: $text-color;
}
