@import "./variables";

:root {
  font-family: "Roboto Mono", sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a {
  all: unset;
  color: $text-color;
}

body {
  background: $bg-color;
}
