@import "./variables";

:root {
  font-family: "Roboto Mono", sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  all: unset;
  color: $text-color;
}

button {
  font-size: 1em;
}

a {
  text-decoration: none;
}

body {
  background: $bg-color;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
