@import "../../styles/variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  background: $sub-alt-color;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 0.5em;
  margin-bottom: 2em;
}

.navbar__spacer {
  background: $bg-color;
  height: 1.5em;
  width: 0.1em;
}
