@import "../../styles/variables";

.kanban-card {
  width: 100%;
  border: none;
  border-radius: 0.4em;
  background: $sub-color;
  padding: 0.4em;
  transition: $animation-duration;
}

.kanban-card:hover {
  background: $main-color;

  .kanban-card__title {
    color: $sub-color;
  }

  .kanban-card__tag {
    color: $sub-color;
  }

  .kanban-card__date {
    color: $sub-color;
  }
}

.kanban-card__title {
  font-weight: bold;
}

.kanban-card__tag {
  font-size: 0.9em;
}

.kanban-card__date {
  font-size: 0.8em;
}

.kanban-card__date--bold {
  font-weight: bold;
}
